#header{
    text-align: center;
    justify-content: center;
    color: gold;
}

#ao{
    background:black;
}

#BodyLog{
    background-image: url(../images/kerpes.png);
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

#BodyArg{
    background-image: url(../images/foto1.jpg);
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

#BodyReg{
    background-image: url(../images/Registro.jpg);
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

#BodyContact{
    background-image: url(../images/4454552-fantasy-wallpapers.jpg);
    background-size: 118%;
    font-family: 'Times New Roman', Times, serif;
    color: gold;
}

a{
    color: black;
    display:flex;
    justify-content: center;
}

#a2{
    color: gold;
    display:flex;
    justify-content: center;
}

p{
    color: gold (81, 226, 137);
}

#ServerStatus{
    color: rgb(81, 226, 137);
    text-align: center;
}

#OnlineUser{
    color: rgb(81, 226, 137);
    text-align: center;
}

#ElSentimiento{
    padding-left: 20%;
    color: #f8b500;
}

#emailHelp{
    color: gold;
}

#TextArea{
    width: 100%;
    height: 150px;
}

#imagen1{
    width: 50px;
    height: 50px;
    margin: 0%;
     padding: 0%;
}
#imagen2{
    width: 50px;
    height: 50px;
    position: relative;
    top: 10%;
    left: 70%;
}

#header{
    display: flex;
    justify-content: center;
}

.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0,2s;    
}

.card-border:hover{
    transform: scale(1.05);

}

#audioao{
    width: 250px;
}

#ServerStatus{
    display: flex;
    margin-top: 60%; 
    left: 25%;
}

#LastButton{
    color: black;
    display: flex;
    justify-content: center;

}

#ImgAo{
   max-width: 50px;
   max-height: 50px;
   object-fit: contain;
}

/*buttons*/

.btn{
    min-width: 130px;
    height: 40px;
    color: rgb(1, 0, 0);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #f8b500 0%, #fceabb 75%);
  }
  .btn {
    background-position: right center;
  }
  .btn {
    top: 2px;
  }
  .btn--1{
    left: 25%;
}
  .btn--2{
    left: 25%;
}
  .btn--3{
    left: 25%;
}
  .btn--4{
      left: 25%;
}
